a:focus, button:focus, input[type=text]:focus, input:focus, input[type=checkbox]:focus, textarea:focus {
  border-radius: 2px;
  outline: 0;
  color: #FF80FF;
  box-shadow: 0 0 2px 1.5px #0072ff,
              0 0 3px 3px #000;
}

.content a:hover {
  color: #FF80FF;
}

li:hover {
  background-color: darkgray;
  color: black;
}

.hero-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://unsplash.it/1200/900?random") no-repeat center center fixed;
  background-size: cover;
}

.hero-header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: inherit;
}

.tabs {
  margin-bottom: -1px !important;
  position: relative;
}

.tabs ul a:focus {
  background-color: #00c6ff;
  border-bottom: 1px solid red;
}

.tab-content {
  padding: 2rem;
}
.tab-pane {
  display: none;
}
.tab-pane.is-active {
  display: block;
  position: relative;
}
.is-active {
  display: initial;
}

.cent {
  display: block;
  margin: 10px auto;
  padding: 5px;
  border: 1px solid #ccc;
}

.video {
  display: block;
  margin: 0 auto;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.features,
.medias {
  padding: 3rem 0;
}

.features .fa,
.features .fab {
  font-size: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #fff;
}

.is-shady {
  animation: flyintoright 0.4s backwards;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  position: relative;
  transition: all 0.2s ease-in-out;

  color: #000;
}
.is-shady:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.13), 0 6px 6px rgba(0, 0, 0, 0.19);
}

.has-same-height .card {
  height: 350px;
  overflow: hidden;
}

.skills-content .media + .media {
  margin-top: .5rem;
}

.skills-content .progress {
  height: 4px !important;
}

.section-heading {
  margin-bottom: 2rem;
}

.accessibility-contrast-like-black {
  color: #363636;
}

.info-tiles {
  margin: .75rem auto;
  padding: 0 .75rem;
}

.button.is-primary.is-alt {
  background: linear-gradient(to bottom, #0072ff, #00c6ff);
  font-weight: 700;
  font-size: 14px;
  height: 3rem;
  line-height: 2.8;
  margin-bottom: 1rem;
}
.post {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #E6EAEE;
}
.post:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.forum-list li {
  margin-bottom: .5rem;
}

.border-hide {
  border: none;
}

@media screen and (max-width: 1087px) {
  .navbar-menu {
    background-color: #888;
  }
}

nav.breadcrumb {
  padding: 0.8em 1em;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 4px;
  background: hsl(300, 14%, 97%);
}

nav.breadcrumb ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

nav.breadcrumb li {
  display: inline;
}

nav.breadcrumb li + li::before {
  display: inline-block;
  margin: 0 .25em;
  transform: rotate(15deg);
  border-right: .1em solid currentColor;
  height: .8em;
  content: '';
}

nav.breadcrumb [aria-current="page"] {
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

.visuallyhidden {
  position: absolute;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
}

.navbar-burger.is-white {
  color: white;
}

.live-region {
  display: flex;
  align-items: center;
  justify-content: space-around;

  position: absolute;
  top: 0;
  left: 0;

  width: 200px;
  height: 100px;
}

a.link-info {
  font-weight: bold;
  color: brown;
}

a.link-blue-info {
  font-weight: bold;
  color: blue;
}

a.link-info:focus {
  font-weight: bold;
}

.button.is-info {
  background-color: #3d3232 !important;
}

.container.menu-footer {
  background-color: #363636;
}

.container.menu-footer a {
  color: #f0e7e7;
}

.hide {
  display: none;
}

.success-form {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 25%;
  background-color: #888888;

  text-align: justify;

  width: 300px;
  height: 200px;
}

.success-title {
  font-family: "Times New Roman";
  font-size: 18px;
  color: black;
}